/* // general styling  */

/* // variables */
:root {
    --hugeSpacing: 5em;
    --largeSpacing: 2rem; 
    --smallSpacing: 1rem; 
    --largeBorderRadius: 15px;
    --smallBorderRadius: 5px; 
    --orangeMain: #DA5F25; 
    --lightOrange: #FC8C58; 
    --baggrundBeige: #ffedcf;
    --lysBaggrund: #fff8eb;
    --green: #005B46;
    --brownText: #3E302A;
    --p-fontFamily: "Cormorant Garamond", serif;
    
}

/* // fonts   */
@import url("https://use.typekit.net/yfy0diq.css");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


/* reset template */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--baggrundBeige);
}

html {
    scroll-behavior: smooth;
  }

a {
    text-decoration: none;
    color: var(--orangeMain);
    font-weight: 700;
    transition: .2s ease-in-out;
    font-family: "Cormorant Garamond", serif;
}

a:hover {
    font-weight: 1000;
    font-size: 1.3rem;
    color: var(--lightOrange);
}

h1 {
    font-family: "proxima-nova-wide", sans-serif;
    font-size: 60px;
    letter-spacing: .3rem;
    font-weight: 1000;
    color: var(--green);
}
h2 {
    font-family: "proxima-nova-wide", sans-serif;
    font-size: 40px;
    letter-spacing: .2rem;
    font-weight: 800;
    color: var(--brownText);
}

h3 {
    font-family: "proxima-nova-wide", sans-serif;
    font-size: 25px;
    font-weight: 500;
}

h4,
h5,
h6 {
    font-family: "proxima-nova-wide", sans-serif;
    text-wrap: balance;
    font-weight: normal;
    color: var(--brownText);
}

p {
    text-wrap: balance; 
    max-width: 45ch;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    line-height: 1.6rem;
    color: var(--brownText);
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
}

img,
picture,
svg,
video {
    max-width: 100%;
    height: auto; 
}

button,
input,
form {
    font: inherit;
    border: unset; 
}

/* utility classes */
.contentContainer {
    max-width: 1440px;
    margin: 0 auto;
}

.textMargin {
    margin: 0 5% ;
}

/* the Boulevard Tattoo start */
/* grid and vision section */
.visionContainer,
.tabContent {
    display: grid;
    grid-gap: var(--largeSpacing);
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    align-items: center;
    margin-bottom: var(--hugeSpacing);
}

.visionText {
    grid-column: 1 / 2;
}

.visionText h2 {
    margin-bottom: var(--smallSpacing);
    color: var(--brownText);
}

.visionImg {
    max-width: 40vw;
    height: auto;
    grid-column: 2 / 3;
}
.visionImg img {
    width: 100%;
    border-radius: var(--smallBorderRadius);
}
/* grid and vision section end */

/* tabs styling Start*/
/* tabs buttons */
.tabsBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center
}

.activeTab {
    background-color: var(--brownText);
    padding: 1rem 4rem;
    border-top-left-radius: var(--smallBorderRadius);
    border-top-right-radius: var(--smallBorderRadius);
    color: var(--baggrundBeige);
    margin: unset; 
}

.inactiveTab {
    color: var(--orangeMain); 
    background-color: var(--baggrundBeige);
    padding: 1rem 4rem;
    transition: .2s ease-in-out;
}

.inactiveTab:hover {
    border-top-left-radius: var(--smallBorderRadius);
    border-top-right-radius: var(--smallBorderRadius);
    transform: scale(1.05);
    color: var(--lightOrange);
    cursor: pointer;
}

/* tabs buttons end */
.tabContent {
    background-color: var(--brownText);
    padding: 4rem 0;
    display: grid;
}

.tabsBackground {
    width: 100vw;
    background-color: var(--brownText);
}

.tabTextContent {
    grid-column: 1 / 2;
}

.tabTextContent p, h2 {
    color: var(--baggrundBeige);

}

.tabTextContent h2 {
    margin-bottom: var(--smallSpacing);
}

.tabImg {
    max-width: 40vw;
    height: auto;
    grid-column: 2 / 3;
}

.tabImg img {
    width: 100%;
    border-radius: var(--smallBorderRadius);
}
/* tabs styling end */

/* media query */
@media only screen and (min-width: 1200px) {
    .visionContainer,
    .tabContent {
        padding: 4rem 5%;
    }
}

@media screen and (max-width: 767px) {
    /* grid and vision section */
    .visionContainer,
    .tabContent {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 10%;
        margin-right: 10%; 
    }

    .visionImg,
    .tabImg {
        max-width: 100%;
        margin: 0 auto;
        grid-column: 1 ;
    }

    .activeTab,
    .inactiveTab {
        width: 100%;
        padding: .8rem;
    }

    
    .tabsBtnContainer {
        display: flex;
        align-items: center;
    }

    .activeTab h3 {
        font-size: 1.4rem;
    }
    
    .inactiveTab h3 {
        font-size: 1.4rem;
    }

    /* tabTextContent */
    .tabTextContent,
    .tabImg {
        margin-bottom: var(--largeSpacing);
    }
}
/* The Boulevard Tattoo end */

/* booking start */
/* header */
#bookingHeaderContainer h1 {
    text-align: center; 
    margin: 0 auto;
}

#bookingHeaderContainer p {
    margin: 0 auto;
}
/* header slut */
/* booking form start */
.bookingFormContainer {
    max-width: 35vw;
    margin: 0 auto;
} 

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

label {
    font-family: "proxima-nova-wide", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--brownText);
    padding-bottom: .2rem;
    padding-top: var(--largeSpacing);
}

input {
    padding: .5rem 0;
    background-color: var(--baggrundBeige);
    border-bottom: 1.5px solid #3E302A;
    width: 100%;
}

.checkboxFlexContainer label{
    margin-right: var(--largeSpacing);
}

textarea {
    background-color: var(--lysBaggrund);
    border: unset;
    border-radius: var(--smallBorderRadius);
    width: 100%;
    height: 15vh;
}

input[type="checkbox"] {
    width: 20px;
    height: 15px;
    margin-right: 0.5rem;
  }

form button,
input[type="submit"] {
    color: var(--orangeMain);
    background-color: var(--baggrundBeige);
    border: 3.5px solid #DA5F25;
    border-radius: var(--smallBorderRadius);
    padding: .5rem 1rem;
    margin: 1rem 0;
    font-family: "proxima-nova-wide", sans-serif;
    font-weight: 800;
    transition: .3s ease-in-out;
}

form button:hover,
input[type="submit"]:hover {
    color: var(--baggrundBeige);
    background-color: var(--orangeMain);
    transform: scale(107%);
    border-radius: var(--largeBorderRadius);
}

input[type="submit"] {
    margin: 4rem auto;
    max-width: 300px;
}
/* form slut */

/* spørgsmål sektion */
.questionsContainer {
    background-color: var(--lysBaggrund);
    padding: 4rem 0;
    margin-bottom: var(--hugeSpacing);
}

.questionsContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.questionsText h2 {
    color: var(--brownText);
    font-weight: 700;
    margin-bottom: var(--smallSpacing);
}

.questionsButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionsButton button {
    color: var(--orangeMain);
    background-color: var(--lysBaggrund); 
    border: 3.5px solid #DA5F25;
    border-radius: var(--smallBorderRadius);
    padding: .5rem 1rem;
    margin: 1rem 0;
    font-family: "proxima-nova-wide", sans-serif;
    font-weight: 800;
    transition: .3s ease-in-out;
    width: 180px;
}

.questionsButton button a {
    all: unset; 
}

.questionsButton button:hover {
    color: var(--lysBaggrund);
    background-color: var(--orangeMain);
    transform: scale(107%);
    border-radius: var(--largeBorderRadius);
    cursor: pointer;
}

/* media queries */
@media screen and (max-width: 768px) {
    #bookingHeaderContainer {
        margin: 0 5%;
    }

    #bookingHeaderContainer h1 {
        font-size: 25px;
    }

    .bookingFormContainer {
        max-width: 90vw;
        width: 100%;
    }

    .checkboxFlexContainer {
        flex-direction: column;
        align-items: flex-start; 
    }

    .questionsContent {
        flex-direction: column;
        margin: 0 5%;
    }
}

/* spørgsmål slut */
/* booking slut */

/* forsiden styling start */

.introTextContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: var(--hugeSpacing);
    margin-bottom: var(--largeSpacing);
}
.valuesContent h2 {
    color: var(--brownText);
    font-size: 1.8rem;
    font-weight: 700;
}

/* cards kunstnere */
h4 {
    color: var(--brownText);
    font-weight: 1000;
    font-size: 40px;
}

.kunstnereContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: var(--largeSpacing);
    padding-bottom: var(--hugeSpacing);
    padding-top: var(--largeSpacing);
}
.kunsterCardContainer {
    width: 100%;
    transition: .2s ease-in-out;
}

.nameKunster {
    background-color: var(--lysBaggrund);
    border-top-left-radius: var(--smallBorderRadius);
    border-top-right-radius: var(--smallBorderRadius);
    padding: var(--largeSpacing);
}

.nameKunster h3 {
    font-size: 2rem;
    color: var(--orangeMain);
    font-weight: 1000;
}

.imgKunster {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.imgKunster img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-bottom-left-radius: var(--smallBorderRadius);
    border-bottom-right-radius: var(--smallBorderRadius);
}

.imgKunster1 {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.imgKunster1 img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-bottom-left-radius: var(--smallBorderRadius);
    border-bottom-right-radius: var(--smallBorderRadius);
}

.kunsterCardContainer:hover {
    transform: scale(102%);
    border-bottom: var(--largeBorderRadius);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.59)
}

.slideinAnim {
    opacity: 0; 
    transition: opacity .5s ease-in-out, transform .5s ease-in-out; 
    transform: translateY(100%); 
}
  
  .animationVisible {
    opacity: 1; 
    transform: translateY(0); 
  }

/* cards kunstnere slut */

/* galleri sektion start */
.galleriContainer h2 {
    color: var(--brownText);
    margin-bottom: var(--largeSpacing);
}

.galleriContainer {
    height: fit-content; 
}

.galleriGridContainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: var(--largeSpacing); 
}

.galleriGridContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--smallBorderRadius);
    transition: .2s ease-in-out;
}

.galleriGridContainer img:hover {
    transform: scale(103%);
    box-shadow: 0 0 18px #00000059;
}

.galleriImg1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.galleriImg2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.galleriImg3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.galleriImg4 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.galleriImg5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.galleriImg6 {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}

.galleriImg7 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.galleriImg8 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
/* galleri sektion slut */

/* reviews sektion start */
.reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.reviewContainer {
    min-height: 200px;
    width: 450px;
    background-image:linear-gradient( rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.733)), url(../images/boulevardHistorie.jpg);
    background-size: 90vh;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--smallBorderRadius);
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviewText {
    color: var(--baggrundBeige);
    text-align: center;
    max-width: 35ch;
    margin-bottom: var(--smallSpacing);
    margin-left: 1rem;
    margin-right: 1rem;
}

.starIcon {
    color: var(--baggrundBeige);
    text-align: center;
    padding-bottom: var(--smallSpacing)
}

.firstLetter1 p {
    display: inline;
    color: var(--brownText);
    font-family: "proxima-nova-wide", sans-serif; 
    font-weight: 500;
    font-size: 3rem;
    padding: .5rem 3rem;
    background-color: var(--baggrundBeige);
    border-radius: 200px;
    position: relative;
    top: -30px;
}

.firstLetter2 p {
    display: inline;
    color: var(--brownText);
    font-family: "proxima-nova-wide", sans-serif; 
    font-weight: 500;
    font-size: 3rem;
    padding: .5rem 3rem;
    background-color: var(--baggrundBeige);
    border-radius: 200px;
    position: relative;
    top: -40px;
}

.firstLetter3 p {
    display: inline;
    color: var(--brownText);
    font-family: "proxima-nova-wide", sans-serif; 
    font-weight: 500;
    font-size: 3rem;
    padding: .5rem 3rem;
    background-color: var(--baggrundBeige);
    border-radius: 200px;
    position: relative;
    top: -50px;
}
/* review sektion slut */

/* blog entry start */
.blogPostsEntry h2 {
    color: var(--brownText);
    margin-bottom: var(--largeSpacing);
}
.blogPostEntryGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(160px, 1fr));
    grid-gap: var(--smallSpacing);
    padding-bottom: var(--hugeSpacing);
}

.blogPostEntryContent img {
    border-radius: var(--smallBorderRadius);
    object-fit: cover;
    height: 400px;
}

.blogPostEntryContent {
    transition: .2s ease-in-out;
}

.blogPostEntryContent:hover {
    transform: scale(102%);
}

.datoEntry {
    margin-bottom: .5rem;
    font-size: 0.9rem;
    color: var(--brownText);
}

.blogEntryText h3{
    color: var(--brownText);
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: var(--smallSpacing);
}

.returnToTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s ease-in-out;
}

.returnToTop i {
    color: var(--orangeMain);
    font-size: 1.5rem;
    transition: .2s ease-in-out;
}

.returnToTop p {
    font-family: "proxima-nova-wide", sans-serif; 
    font-size: .9rem;
    font-weight: 700;
    color: var(--orangeMain);
}

.returnToTop i:hover {
    transform: scale(140%);
    color: var(--lightOrange);
}
/* blog entry slut */

/* media queries */
@media screen and (max-width: 768px) {
    .introTextContainer,
    .kunstnereContainer,
    .galleriContainer,
    .reviews,
    .blogPostsEntry {
      width: 90%;
    }
  
    .blogPostEntryGrid {
        grid-template-columns: repeat(1, minmax(160px, 1fr));
        margin: var(--smallSpacing);
        padding-bottom: var(--smallSpacing);
    }

    .blogPostsEntry {
        margin-top: 5rem;
    }

    .kunstnereContainer {
      grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
  
    .galleriGridContainer {
      grid-template-columns: repeat(1, minmax(100px, 1fr)); /* Change to 1 column */
      grid-gap: var(--smallSpacing)
    }

    .reviewContainer {
        width: 90%;
        margin-top: 6rem;
        margin-bottom: unset;
    }
  
    .reviews {
      flex-direction: column;
    }
    h4 {
        padding: 0 5%;
    }
  }
/* forside styling slut */



/* stilguide start */
/* stilguide intro */
.introStilguide {
    padding-bottom: var(--hugeSpacing);
}
.stilGuideContentContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    align-items: center;
    gap: var(--largeSpacing);
}

.stilguideLokalNaveContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 1fr));
    place-items: center;
}

.introStilguide h2 {
    color: var(--brownText);
    font-weight: 700;
    text-align: center;
    margin-top: var(--largeSpacing);
    margin-bottom: var(--largeSpacing);
}

.lokalNavBtn {
    color: var(--orangeMain);
    background-color: var(--baggrundBeige); 
    border: 3.5px solid #DA5F25;
    border-radius: var(--smallBorderRadius);
    padding: .5rem 1rem;
    margin: 1rem 0;
    font-family: "proxima-nova-wide", sans-serif;
    font-weight: 800;
    transition: .3s ease-in-out;
    width: 250px;
}

.lokalNavBtn:hover {
    color: var(--baggrundBeige);
    background-color: var(--orangeMain);
    transform: scale(107%);
    border-radius: var(--largeBorderRadius);
    cursor: pointer;
}

.stilguideLokalNaveContainer a {
    all: unset; 
}

/* stilGuide stil section start*/
.stilGuideContentContainerWhite {
    display: grid;
    grid-template-rows: auto auto;
    gap: var(--smallSpacing);
    align-items: start;
}

.whiteFullWidth {
    width: 100vw;
    background-color: var(--lysBaggrund);
    padding: var(--hugeSpacing);
}

.fullWidthStil {
    width: 100vw;
    background-color: var(--baggrundBeige);
    padding: var(--hugeSpacing);
}
  
.stilGuideImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--smallSpacing);
    width: 100%;
}
  
.stilGuideImages img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: var(--smallBorderRadius);
}
  
.stilGuidePageTextContent {
    display: flex;
    gap: var(--smallSpacing);
    align-items: flex-start;
  }
  
.specificStilText, 
  .linkTilKunsterStilguide {
    flex: 1;
}

.linkKunsterUL li {
    list-style-type: none;
    font-size: 1.8rem;
    font-family:  "proxima-nova-wide", sans-serif;
    margin: 2rem 0;
    font-weight: 500;
    transition: .2s ease-in-out;
}

.linkKunsterUL li:hover {
    font-size: 2.2rem;
    font-weight: 700;
}

.stilGuideContentContainerWhite h3 {
    margin-bottom: var(--largeSpacing);
    font-size: 2rem;
}
/* sTilguide stil section slut */

/* media queries stilguide */
@media screen and (max-width: 768px) {
    .stilGuideContentContainer {
      grid-template-columns: 1fr;
    }

    .introStilguide {
        margin: 0 10%;
        padding-bottom: var(--largeSpacing);
    }

    .fullWidthStil,
    .whiteFullWidth {
        padding: var(--largeSpacing);
    }
  
    .stilGuidePageTextContent {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .stilguideLokalNaveContainer {
        grid-template-columns: repeat(1 , minmax(160px, 1fr));
    }

  
    .stilGuideImages {
      grid-template-columns: 1fr 1fr;
    }
  
    .specificStilText, 
    .linkTilKunsterStilguide {
      width: 100%;
    }
  }
/* stilguide slut */


/* booking slut */




/* Regler og vilkar start*/

/* hero tekst og billede component styles start */
header{
    max-width: 1440px;
    margin: 0 auto;
}

.heroBillede{
    width: 100%;
    height: 60%; 
}

.heroBillede img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: var(--hugeSpacing);
}



header h1{
    text-transform: uppercase;
    font-size: 92px;
    margin-bottom: var(--largeSpacing);
    max-width: 85%;
    margin: 0 auto;
}


.reglerOgVilkar div{
    max-width: 85%;
    margin: 0 auto;
}

#reglerOgvilkarPage main {
    max-width: 1440px;
    margin: 0 auto;
}
.reglerOgVilkar h2{
    color: var(--brownText);
    margin-bottom: var(--largeSpacing);
    font-weight: 600;
    font-size: 70px;
}
.reglerOgVilkar h3{
    color: var(--brownText);
    font-weight: 300;
    font-size: 40px;
}

.reglerOgVilkar p {
    font-family: var(--p-fontFamily);
    margin-bottom: var(--largeSpacing);
    font-size: 27px;
    line-height: 140%;

}

@media screen and (max-width: 768px) {
    /* hero billede og text component mobil */
    #header h1{
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: var(--largeSpacing); 
        max-width: 85%;
        width: 1440px;
        margin: 0 auto;
    }

    .reglerOgVilkar h2{
        color: var(--brownText);
        margin-bottom: var(--largeSpacing);
        font-weight: 600;
        font-size: 27px;
    }
    .reglerOgVilkar h3{
        color: var(--brownText);
        font-weight: 500;
        font-size: 25px;
    }


    
    .heroBillede{
        width: 100%;
        height: 100%; 
    }
    
    .heroBillede img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: var(--largeSpacing);
       
    }
    
 /* hero billede og text component mobil slut */
    .reglerOgVilkar p {
        font-family: var(--p-fontFamily);
        margin-bottom: var(--largeSpacing);
        font-size: 1.3rem;
        line-height: 140%;
    }
    .reglerOgVilkar div {
        max-width: 85%;
    }
}

/* Regler og vilkar slut */

/* faq start */

#faq {
    width: 1000px;
    margin: 0 auto;
    max-width: 85%;
}
#faq h2{
   color: var(--brownText);
   text-align: right;
   margin-bottom: var(--smallSpacing);
   margin-top: var(--largeSpacing);
}
#faq h2:last-of-type{
    margin-top: 4rem;
}
#faq h2:first-of-type{
    text-align: left;
    font-size:70px;
    margin-top: 0;
}
#faq h3{
    font-weight: 600;
}
#faq p {
    font-family: var(--p-fontFamily);
    font-size: 27px;
    line-height: 140%;
    max-width: 70ch;
}


@media screen and (max-width: 768px) {
    
    #faq h3{
       font-size: 1.3rem;
    }
    #faq p{
       font-size: 1.3rem;
    }
    #faq h2:first-of-type{
        text-align: left;
        font-size:30px;
    }
}

/* accordion styles */


summary {
    padding-block: .5rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
summary:after{
    content: "\002B";
    font-size: 3rem;
    font-weight: 600;
    color: #DA5F25;
    margin-left: 1rem;
}

details[open] summary:after{
    content: "\00D7";
    
}
.singleBorder {
    border-bottom: 3px solid var(--orangeMain);
}
.doubleBorder {
    border-top: 3px solid var(--orangeMain);
    border-bottom: 3px solid var(--orangeMain);
}

/* faq slut */

/* footer start */

.footer {
  text-align: center;
  margin-bottom: var(--hugeSpacing);
  margin-top: var(--hugeSpacing);
}

.footer svg{
  margin-bottom: var(--largeSpacing);
}


.footer i{
  color: var(--orangeMain);
  font-size: 2rem;
  margin-bottom: var(--smallSpacing);
}


.footer div{
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: center;
    /* justify-content: center; */
    margin-bottom: var(--largeSpacing);
}

.footer div p{
  margin: 0 auto;
  font-family: var(--p-fontFamily);
  font-weight: bold;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .footerContainer {
        display: flex;
        justify-content: center; /* Center the container horizontally */
        max-width: 800px; /* Set a max-width for the container */
        margin: 0 auto; /* Center the container horizontally */
    }
    
    .footerContainer > div {
        display: flex; /* Display as inline flex */
        align-items: flex-start;
        flex-direction: row;
        gap: 1rem; 
    }
    
    .footerContainer > div i {
        width: 24px; /* Set a fixed width for the icons */
    }
    
    .footerContainer > div p {
        margin: 0; /* Remove default margin from paragraphs */
    }
    
    
    
}

/* footer slut */


/* hamburger menu styles start */
 .navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--baggrundBeige);
    z-index: 2;
} 

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 1440px;
    margin: 0 auto;
}


.linkHamburgerFlex {
    display: flex;
    gap: 2rem;
}


.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #FC8C58;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.nav-links li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FC8C58;
    transition: width .3s;
}

.nav-links li a:hover::after {
    width: 100%;
}

.subMenu ul {
    display: flex;
    flex-direction: column;
    text-align: right;
    
}


.xPosition {
    position: relative;
}
.xPosition span {
    position: absolute;
    left: 3px;
    
}

.subMenuContainer {
    width: 1440px;
    margin: 0 auto;
    text-align: right;
    position: relative;
}

.subMenu {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--baggrundBeige);
    padding-right: 30px;
    right: -100%; 
    width: 280px; 
    height: 100%;
    transition: .3s ease-in-out;
}

.subMenu i {
    color: var(--orangeMain);
    font-size: 2rem;
    padding-left: 1rem;
}

.subMenuOpen {
    position: fixed;
    right: 0%; 
    opacity: 1;
}

/* Hamburger menu styles slut */

/* trin for trin start */

.intro p {
margin: 0 auto;
max-width: 65ch;
margin-bottom: 3rem;
font-family: "proxima-nova-wide", sans-serif;
line-height: 140%;
font-size: 1.5rem;
font-weight: 300;
}

.tabTextContent h3 {
color: #ffedcf;
margin-bottom: var(--smallSpacing);
}
/* trin for trin slut */


/* kontakt knap sticky */
.contactFunktionContainer {
    width: 350px;
    position: relative;
}

.contactFunktionContainer i {
    color: var(--orangeMain);
    font-size: 3rem;
    position: fixed; 
    right: 20px; 
    bottom: 20px;
    cursor: pointer; 
    z-index: 1000;
    transition: .3s ease-in-out;
}

.contactFunktionContainer i:hover {
    color: var(--lightOrange);
    transform: scale(120%);
}

.contactFormSticky i:first-of-type {
    position: absolute;
    top: 15px;
    right: 10;
    font-size: 1.5rem;
}

.contactFormSticky i:first-of-type:hover{
    transform: unset;
}


.contactFormSticky {
    background-color: var(--baggrundBeige);
    padding: var(--largeSpacing);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.59);
    border-radius: var(--largeBorderRadius);
    position: fixed; 
    right: 50px; 
    bottom: 50px;
    cursor: pointer; 
    z-index: 1002;
    transition: .3s ease-in-out;
    opacity: 0;
}

.contactFormActive {
    opacity: 1;
}

.contactFormSticky label {
    font-family: "proxima-nova-wide", sans-serif;
    font-weight: 400;
}

.contactFormSticky label:first-of-type {
    padding-top: var(--smallSpacing);
}

.contactFormSticky input {
    padding: .5rem 1rem;
    background-color: var(--lysBaggrund);
    border: 1.5px solid var(--orangeMain);
    width: 100%;
    border-radius: var(--smallBorderRadius);
}

.contactFormSticky textarea {
    padding: .5rem 1rem;
    background-color: var(--lysBaggrund);
    border: unset;
    border-radius: var(--smallBorderRadius);
    font-family: var(--p-fontFamily);
    border: 1.5px solid var(--orangeMain);
}

.contactFormSticky input[type="submit"] {
    background-color: var(--baggrundBeige);
    border: 3.5px solid #DA5F25;
    margin-top: var(--largeSpacing);
    margin-bottom: var(--smallSpacing);
}

.contactFormSticky input[type="submit"]:hover {
    color: var(--baggrundBeige);
    background-color: var(--orangeMain);
    transform: scale(107%);
    border-radius: var(--largeBorderRadius);
}

/* kontaktform slut */

/* Kunstnere start */
.headerTextKunstnere {
    margin-bottom: var(--hugeSpacing);
    margin-top: unset;
}
/* Kunstnere slut */

/* specific kunster start*/
/* Kunster Content styling */
#benHeaderContainer h1{
    margin: unset;
}
.EnkeltkunsterContainer{
    max-height: 90vh;
    width: 100%;
    margin-bottom: var(--hugeSpacing);
}
.EnkeltkunsterContentContainer {
    display: flex;
    justify-content: space-between; 
    align-items: top;
    gap: var(--hugeSpacing);
    height: 100%;
}

.kunsterProfileImg {
    max-height: 700px;
    width: auto;
}

.kunsterProfileImg img {
    height: 100%;
    width: auto;
    border-radius: var(--smallBorderRadius);
}

.kunsterTextAbout p {
    max-width: 80ch;
    padding-bottom: var(--smallSpacing);
}

.instaIcon a {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

.instaIcon i {
    font-size: 40px;
    margin-right: var(--smallSpacing);
    vertical-align: middle; 
}

/* specific kunster galleri */
.galleriKunsterGridContainer {
    display: grid;
    grid-gap: var(--largeSpacing);
    grid-template-columns: repeat(4, minmax(160px, 1fr));
    align-items: center;
}
/* galleri slut */
.arrowsContainer  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8rem; 
    transition: .3s ease-in-out;
}

.arrowsContainer i {
    font-size: 30px;
    margin: 1rem .5rem;
    vertical-align: middle; 
}

.arrowsContainer a {
    font-family: "proxima-nova-wide", sans-serif;
    font-size: 1.2rem;
    transition: .3s ease-in-out;
}

.arrowsContainer a:hover {
    transform: unset; 
    font-size: 1.3rem;
    font-weight: 700;
}

/* specifik kunster slut */