/* // general styling  */

/* // variables */
:root {
    --largeSpacing: 2rem; 
    --smallSpacing: 1rem; 
    --largeBorderRadius: 15px;
    --smallBorderRadius: 5px; 
    --orangeMain: #DA5F25; 
    --baggrundBeige: #FEF7EA;
    --lysBaggrund: #FFFCF6;
    --green: #005B46;
    --brownText: #3E302A;
}

/* // fonts   */
@import url("https://use.typekit.net/yji7bnv.css");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


/* reset template */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--baggrundBeige);
}

a {
    text-decoration: none;
}

h1 {
    font-family: "proxima-nova", sans-serif;
    font-size: 60px;
    font-weight: 1000;
    color: var(--green);
}
h2 {
    font-family: "proxima-nova", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: var(--brownText);
}

h3 {
    font-family: "proxima-nova", sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: var(--brownText);
}

h4,
h5,
h6 {
    font-family: "proxima-nova", sans-serif;
    text-wrap: balance;
    font-weight: normal;
    color: var(--brownText);
}

p {
    text-wrap: pretty; 
    max-width: 75ch;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    color: var(--brownText);
}

img,
picture,
svg,
video {
    max-width: 100%;
    display: block; 
    height: auto; 
}

button,
input,
form {
    font: inherit;
}

/* utility classes */
.contentContainer {
    max-width: 1400px;
}

.textMargin {
    margin: 0 80% ;
}

/* the Boulevard Tattoo start */

/* The Boulevard Tattoo end */